body {
  background-attachment: fixed;
  background-image: url("../image/IMG1.jpg")  ;
  color: black;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  background-blend-mode: multiply;
}
p {
  font-size: 30px;
  color: black;
  text-align: center;
}
label {
  text-align: center;
}
.form {
  text-align: center;
}
.form label {
  color: black;
}
#gender {
  color: antiquewhite;
}
.akan {
  height: 300px;
  text-indent: 30%;
  padding: 30px;
}
#akan {
  line-height: 1.6em;
  font-weight: 700;
  background-color: rgb(207, 203, 203);
  color: green;
  box-sizing: border-box; opacity:0.7;
  line-height: 1.9;
  font-weight: 600;
  text-align: center;
  margin:  auto;
  padding-right: 30%;
  padding-left: 10%;

}
.jumbotron{
  opacity: 0.7;
}
